target/
**/*.jar

# ignore editor files
.idea
.vscode

# The following files are generated/updated by Hilla
node_modules/
src/main/frontend/generated/
vite.generated.ts

# ignore db data file
*.db

# do not commit application-dev.yml, dev environment configurations will vary for everyone
src/main/resources/application-dev.yml